# Generate Token in Fluxer Settings under "Developer"
FLUXER_TOKEN=

LOG_LEVEL=INFO # DEBUG, INFO, WARNING, ERROR, CRITICAL
INTERVAL=3600 # 1 hour
SUBREDDIT=ich_iel
COMMAND_PREFIX="/" # Prefix for bot commands, default is "/"
POST_LIMIT=20 # How many posts to fetch from reddit each time